# dependencies
node_modules/

# environment variables
.env
.env.production
venv/
.venv
env/
ENV/
.venv

mysql-volume

mysql_data

aula207_ola_django/static_files
static_files

dist/
**/dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
**/__pycache__/
./**/__pycache__/
FastApiZeroAteDeploy/__pycache__/
FastApiZeroAteDeploy/**/__pycache__/
test.db
